@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-VariableFont.ttf');
    font-weight: 500 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fraunces';
    src: url('./assets/fonts/Fraunces-VariableFont.ttf');
    font-weight: 700;
    font-style: normal;
}


:root {
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    --font-bold: 700;
    --font-medium: 500;

    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.8125rem; /* 13px */
    --text-base: 0.875rem; /* 14px */
    --text-lg: 2rem; /* 32px */

    --spacing-500: 2.5rem;
    --spacing-400: 2rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    --spacing-100: 0.5rem;
    --spacing-50: 0.25rem;

    --rounded-sm: 0.5rem;

    --max-card-w: 21.875rem;
    --max-product-image-height: 21.375rem;

    --screen-md: 48rem;
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

*,
*::after,
*::before {
    padding-block: 0;
    padding-inline: 0;
    margin: 0;
    box-sizing: inherit;
}

button, 
input[type="submit"], 
input[type="button"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.font-secondary {
    font-family: 'Fraunces', serif;
}

.font-bold {
    font-weight: var(--font-bold);
}

.font-medium {
    font-weight: var(--font-medium);
}

.text-xs {
    font-size: var(--text-xs);
    line-height: 120%;
    letter-spacing: 5px;
}

.text-sm {
    font-size: var(--text-sm);
    line-height: 120%;
    letter-spacing: 0;
}

.text-base {
    font-size: var(--text-base);
    line-height: 160%;
    letter-spacing: 0;
}

.text-base-2 {
    font-size: var(--text-base);
    line-height: 110%;
    letter-spacing: 0;
}

.text-lg {
    font-size: var(--text-lg);
    line-height: 100%;
    letter-spacing: 0;
}

.text-white {
    color: var(--white);
}

.text-grey {
    color: var(--grey);
}

.text-black {
    color: var(--black);
}

.text-green-500 {
    color: var(--green-500);
}

.text-green-700 {
    color: var(--green-700);
}

.text-line-through {
    text-decoration: line-through;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: var(--max-card-w);
    border-radius: var(--rounded-sm);
    background-color: var(--white);
    overflow: hidden;
}

.product-image {
    display: block;
    flex: 1 0 0;
    width: 100%;
    height: auto;
    max-height: var(--max-product-image-height);
}

.card-content {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding-inline: var(--spacing-400);
    padding-block: var(--spacing-400);
}

.card-content header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.prices {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.add-to-cart-button{
    display: inline-flex;
    padding-inline: var(--spacing-400);
    padding-block: var(--spacing-200);
    border-radius: var(--rounded-sm);
    background-color: var(--green-500);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);
}

@media screen and (min-width: 48rem) {
    :root {
        --max-card-w: 37.5rem;
        --max-product-image-height: 28.5rem;
    }

    .card {
        flex-direction: row;
    }

    .card-content {
        gap: var(--spacing-400);
    }
}